<div class="b-cat-panel">
    <div class="b-cat-panel__inner-container">
        <img class="b-cat-panel__image"/>
        <input type="text" class="b-cat-panel__input" />
        <a class="b-cat-panel__button-submit">Submit</a>
    </div>
</div>