<!doctype html>
<html>

<head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <h1 id="main-title">React Isomorphic Server Side Rendering Example</h1>
            <div id="react-main-mount"></div>
        </div>
    </div>
    <!-- comment out main.js to see server side rendering -->
    <script src="/js/main.js"></script>
</body>

</html>
