/* ======================== directory ====================== */
$assetDirectory: "../assets";


/* ======================== colours ======================== */
$color1st: #151723;
$color2nd: #ff4b02;
$color3rd: #eaeaea;
$color4th: #4c4c4c;

$colorShadow: #0e080a;

/* ======================== fonts ========================== */
$fontDirectory: "#{$assetDirectory}/fonts";

// font weight
$fontWeightRegular: normal;

// font style
$fontStyleRegular: normal;

// font families
$fontLogo: 'OpenSansBold', Arial;
$fontHeader: 'OpenSansSemibold', Arial;
$fontRegular: 'OpenSansRegular', Arial;
$fontTitle: 'OpenSansLight', Arial;

/* ======================== containers ======================== */
$containerMaxWidth: 1024px;
